body{
  margin: 0;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 200%;
}

h1{
  margin-top: 0;
  font-size: 5rem;
}

hr{
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 1.6rem;
}

a{
  font-size: 1.2rem;
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
}

a:hover{
  color: black;
}

.top{
  position: relative;
  padding-top: 200px;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 400px;
  height: 120px;
  width: 210px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 30px;
  bottom: 10px;
  height: 150px;
  width: 220px;
}

.bottom{
  background-color: #D0C9C0;
  padding: 50px 0 20px;
}

.middle{
  margin: 100px 0;
}

.logo{
    height: 30px;
}

.btn {
  background: black;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 13px 22px 13px 22px;
  text-decoration: none;
}

.btn:hover {
  background: grey;
  background-image: -webkit-linear-gradient(top, grey, grey);
  background-image: -moz-linear-gradient(top, grey, grey);
  background-image: -ms-linear-gradient(top, grey, grey);
  background-image: -o-linear-gradient(top, grey, grey);
  background-image: linear-gradient(to bottom, grey, grey);
  text-decoration: none;
}

.copyright{
  color: #212121;
  font-size: 0.75rem;
  padding: 20px 0;
}
